@model WebApp.ViewModels.VehicleTypes.VehicleTypeCreateEditViewModel
<div class="form-group">
    <label asp-for="VehicleType.VehicleTypeName" class="control-label"></label>
    <input asp-for="VehicleType.VehicleTypeName" class="form-control"/>
    <span asp-validation-for="VehicleType.VehicleTypeName" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="VehicleType.ForGoods"/> @Html.DisplayNameFor(model => model.VehicleType.ForGoods)
    </label>
</div>