@page
@using Base.Resources.Areas.Identity.Pages.Account
@model AccessDeniedModel
@{
    ViewData["Title"] = AccessDenied.NoAccess;
}

<header>
    <h1 class="text-danger">@AccessDenied.NoAccess</h1>
    <p class="text-danger">@AccessDenied.YouDoNotHaveAccessToThisResource</p>
</header>
