@page
@using Base.Resources.Areas.Identity.Pages.Account
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = ConfirmEmailChange.EmailConfirmChange;
}

<h1>@ConfirmEmailChange.EmailConfirmChange</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />