@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}

<h1>@Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm</h1>
<p>
    @Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>

