@page
@using Base.Resources.Areas.Identity.Pages.Account
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = LoginWithRecoveryCode.RecoveryCodeVerification;
}

<h1>@LoginWithRecoveryCode.RecoveryCodeVerification</h1>
<hr />
<p>
    @LoginWithRecoveryCode.YouHaveRequested
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode">@LoginWithRecoveryCode.RecoveryCode</label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@LoginWithRecoveryCode.LogIn</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
