@page
@using Base.Resources.Areas.Identity.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = ResetPasswordConfirmation.ResetPasswordConfirm;
}

<h1>@ResetPasswordConfirmation.ResetPasswordConfirm</h1>
<p>
    @ResetPasswordConfirmation.PasswordHasBeenResetPlease<a asp-page="./Login">@ResetPasswordConfirmation.ClickHereToLogIn</a>.
</p>

