@using Base.Resources.WebApp
@model WebApp.ViewModels.Parcels.ParcelCreateEditViewModel

<div class="form-group">
    <label asp-for="Parcel.Weight" class="control-label"></label>
    <input asp-for="Parcel.Weight" class="form-control"/>
    <span asp-validation-for="Parcel.Weight" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Parcel.UnitId" class="control-label"></label>
    <select asp-for="Parcel.UnitId" class="form-control" asp-items="Model.ParcelWeightUnitSelectList">
        <option>-- @WebAppUiCommon.PleaseSelect --</option>
    </select>
</div>

<div class="form-group">
    <label asp-for="Parcel.Dimensions!.Width" class="control-label"></label>
    <input asp-for="Parcel.Dimensions!.Width" class="form-control"/>
    <span asp-validation-for="Parcel.Dimensions!.Width" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Parcel.Dimensions!.Height" class="control-label"></label>
    <input asp-for="Parcel.Dimensions!.Height" class="form-control"/>
    <span asp-validation-for="Parcel.Dimensions!.Height" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Parcel.Dimensions!.Length" class="control-label"></label>
    <input asp-for="Parcel.Dimensions!.Length" class="form-control"/>
    <span asp-validation-for="Parcel.Dimensions!.Length" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Parcel.Dimensions!.UnitId" class="control-label"></label>
    <select asp-for="Parcel.Dimensions!.UnitId" class="form-control" asp-items="Model.DimensionUnitSelectList">
        <option>-- @WebAppUiCommon.PleaseSelect -- </option>
    </select>
    <span asp-validation-for="Parcel.Dimensions!.UnitId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Parcel.ParcelInfo" class="control-label"></label>
    <input asp-for="Parcel.ParcelInfo" class="form-control"/>
    <span asp-validation-for="Parcel.ParcelInfo" class="text-danger"></span>
</div>